body {
    font-family: "Oswald", sans-serif;
    color: rgb(83, 81, 81);
  }
  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-nav .nav-link {
    color: rgb(248, 246, 246);
  }
  .carousel-item img {
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
  .text h1 {
    text-align: center;
    /* font-weight: bold; */
  }
  .text {
    position: absolute;
    right: 0;
    /* bottom: 1.25rem; */
    left: 8%;
  }
  .carousel-caption {
    position: absolute;
    text-align: left;
    /* left: -50%; */
    /* top: 0; */
  }
  section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .underline {
    text-align: center;
    position: relative;
  }
  
  .underline:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 40px;
    bottom: -4px;
    background-color: black;
    left: 48%;
  }
  .fa {
    width: 40px;
    /* height: 50px; */
  }
  .stats-item {
    height: 300px;
    text-align: center;
  }
  .row .stats-item:nth-child(even) {
    background-color: rgb(236, 234, 234);
  }
  .row .stats-item:nth-child(odd) {
    background-color: rgb(201, 199, 199);
  }
  .stats-item span {
    margin-top: 50px;
  }
  .col-md-2 .img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(53, 51, 51);
    margin: auto;
    position: relative;
  }
  .col-md-2 .img::after {
    content: "1";
    background-color: orange;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
  }
  .col-md-2 .img.two::after {
    content: "2";
  }
  .col-md-2 .img.three::after {
    content: "3";
  }
  .col-md-2 .img.four::after {
    content: "4";
  }
  .col-md-2.col-sm-5 {
    margin: auto;
  }
  /* .one{
    position: relative;
  } */
  /* .one::after{
    font-family: FontAwesome;
    content: "\f178";
    position: absolute;
    display: inline-block;
  
  } */
  span.col-md-1 {
    position: relative;
    top: 50px;
  }
  .container .col-md-2 {
    text-align: center;
    font-size: 12px;
    /* padding: auto; */
  }
  .container .col-md-2 a {
    text-decoration: none;
    color: rgb(247, 200, 83);
  }
  
  ul.footer,
  ol.footer {
    list-style: none;
    padding-left: 0;
  }
  
  li.footer::before {
    font-family: FontAwesome;
    content: "\f00c";
    color: rgb(247, 200, 83);
  }
  /* f00c */ /* padding-right: 10px; */
  