body {
  font-family: "Oswald", sans-serif;
  color: rgb(83, 81, 81);
}
.navbar-collapse {
  flex-grow: 0;
}
.navbar-nav .nav-link {
  color: rgb(248, 246, 246);
}
.carousel-item img {
  height: 400px;
  object-fit: cover;
  object-position: center;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
}


.underline:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 40px;
  bottom: -4px;
  background-color: black;
  left: 48%;
}
.fa {
  width: 40px;
  
}
.stats-item {
  height: 300px;
  
}
.row .stats-item:nth-child(even) {
  background-color: rgb(236, 234, 234);
}
.row .stats-item:nth-child(odd) {
  background-color: rgb(201, 199, 199);
}


.col-md-2 .img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(53, 51, 51);
  margin: auto;
  position: relative;
}
.col-md-2 .img::after {
  content: "1";
  background-color: orange;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
}
.col-md-2 .img.two::after {
  content: "2";
}
.col-md-2 .img.three::after {
  content: "3";
}
.col-md-2 .img.four::after {
  content: "4";
}

span.col-md-1 {
  
  top: 50px;
}


li.footer::before {
  font-family: FontAwesome;
  content: "\f00c";
  color: rgb(247, 200, 83);
}





