body {
  margin: 0;
  
}
* {
  box-sizing: border-box;
}

.container{
  border: 1px solid gainsboro;
  overflow-x: auto;
  width: 70%;
  margin:30vh auto;
}
::-webkit-scrollbar {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background: rgb(109, 108, 108); 
  border-radius: 2px;
}

table {
  border-collapse: collapse;
  width: 100%;
  /* font-size: 20px; */
}
/* thead{
  position: fixed;
  top:30vh;
} */

th, td {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {background-color: #f2f2f2;}




 /* @media screen and (max-width:768px){
  table tbody {
    display: block;
   
    height: 200px;
    overflow-y: auto;
   

}
table tbody tr{
  display: flex;

}

thead{
  display: flex;
  
}
thead th{
  padding: 10px 25px;
  text-align: center;

}
tbody tr td {
  width: 93px;
  text-align: center;
 
}
}  */